<section class="about section" id="about-us">
  <div class="container about-us-container">
    <div class="about-us-card-wrapper">
      <div class="poster">
        <h2 class="poster-title">
          YachtJet fleet is here to take you on the ultimate adventure
        </h2>
        <div class="poster-paragraphs">
          <p class="poster-description">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
          </p>
          <p class="poster-invitation">
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.No matter which yacht you choose, our
            experienced crew will ensure that your journey is smooth and
            enjoyable. Book now and get ready for an unforgettable adventure on
            the high seas.
          </p>
        </div>
      </div>
      <picture class="picture-about-us">
        <source
          srcset="
            ./img/desktop_1440/about_us/about_us.jpg    1x,
            ./img/desktop_1440/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          width="1340"
          height="470"
        />
        <source
          srcset="
            ./img/desktop_1280/about_us/about_us.jpg    1x,
            ./img/desktop_1280/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="1180"
          height="470"
        />
        <source
          srcset="
            /img/tablet/about_us/about_us.jpg    1x,
            /img/tablet/about_us/about_us@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="704"
          height="470"
        />
        <source
          srcset="
            /img/mobille/about_us/about_us.jpg    1x,
            /img/mobille/about_us/about_us@2x.jpg 2x
          "
          media="(max-width: 767px)"
          width="335"
          height="395"
        />
        <img
          src="./img/mobille/about_us/about_us.jpg"
          alt="yacht sails in night sea"
          class="img-about-us"
        />
      </picture>
    </div>
  </div>
</section>
