<section class="advantages-section section">
  <div class="advantages-container container">
    <h2 class="advantages-heading visually-hidden">Our Advantages</h2>
    <div class="advantages-list-wrapper">
      <ol class="advantages-list list">
        <li class="advantages-list-item">
          <p class="advantages-list-item-count">01</p>
          <p
            class="advantages-list-item-description advantages-list-first-item-description"
          >
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-item-count">02</p>
          <p
            class="advantages-list-item-description advantages-list-second-item-description"
          >
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-item-count">03</p>
          <p
            class="advantages-list-item-description advantages-list-third-item-description"
          >
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-item-count">04</p>
          <p
            class="advantages-list-item-description advantages-list-fourth-item-description"
          >
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/desktop_1440/advantages/advantages.jpg    1x,
          ./img/desktop_1440/advantages/advantages@2x.jpg 2x
        " width="540"
         height="424"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/desktop_1280/advantages/advantages.jpg    1x,
          ./img/desktop_1280/advantages/advantages@2x.jpg 2x
        " width="432" 
        height="424"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/tablet/advantages/advantages.jpg    1x,
          ./img/tablet/advantages/advantages@2x.jpg 2x
        " width="704"
         height="424"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/mobille/advantages/advantages.jpg    1x,
          ./img/mobille/advantages/advantages@2x.jpg 2x
        " width="335" 
        height="424"
      />
      <img
        src="./img/mobille/advantages/advantages.jpg"
        alt="yacth conditions image"
        class="advantages-imagine"
      />
    </picture>
  </div>
</section>
