<footer class="footer">

  <div class="contain">
    <div class="nav-bloc">
      <a class="logo-foot" href="index.html"> yachtjet </a>
      <nav class="navigator">
        <ul class="footer-nav">
          <li class="nav-link"> <a href="#" class="link-footer">About </a> </li>
          <li class="nav-link"><a href="#" class="link-footer"> Yachts </a> </li>
          <li class="nav-link"> <a href="#" class="link-footer"> Reviews</a> </li>
        </ul>
      </nav>

      <ul class="foot-social-link">
        <li class="foot-social">
          <a href="https://www.instagram.com/goitclub/" class="foot-social-links">
            <svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg> </a>
        </li>
        <li class="foot-social">
          <a href=" https://www.youtube.com/c/GoIT" class="foot-social-links">
            <svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-you_tube"></use>
            </svg> </a>
        </li>
        <li class="foot-social">
          <a href="https://www.facebook.com/goITclub/" class="foot-social-links">
            <svg class="icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg> </a>
        </li>
      </ul>
    </div>
    <div class="text-bloc">
      <p class="text-footer"> No matter which yacht you choose,our experienced crew will
        ensure that your journey is smooth and enjoyable.</p>

      <a href="#" class="privacy"> 2023. Yacht Adventures </a>
      <a href="#" class="privacy"> Privacy Police </a>
    </div>

  </div>

</footer>