
    <footer class="footer">
   
        <div class="container contain">
          <nav class="navigator">
         <a class="logo-foot" href= "index.html"> yachtjet </a>
         <ul class="footer-nav"> 
             <li class="nav-link"> <a href="#" class="link-footer">About </a> </li>
             <li class="nav-link"><a href="#" class="link-footer"> Yachts </a> </li>
             <li class="nav-link"> <a href="#" class="link-footer"> Reviews</a> </li>
         </ul>
         </nav>
             <div class="social-foot">
                <ul class="foot-social-link">
                  <li class="foot-social">
                    <a href="#" class="foot-social-links">
                      <svg class="icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-instagram"></use>
                      </svg> </a>
                  </li>
                  <li class="foot-social">
                    <a href="#" class="foot-social-links">
                      <svg class="icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-you_tube"></use>
                      </svg> </a>
                  </li>
                  <li class="foot-social">
                    <a href="#" class="foot-social-links">
                      <svg class="icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-facebook"></use>
                      </svg> </a>
                  </li>
                </ul>
             </div>
              <p class="text-footer"> No matter which yacht you choose, our
               <a href="#" class="privacy"> 2023. Yacht Adventures </a>
               <a href="#" class="privacy"> Privacy Police </a>
        </div> 
     
     </footer>