<header class="head-section">
  <div class="head-pin container">
    <div class="header-wrapper">
      <nav class="head-nav-box">
        <a href="../index.html" class="nav-logo">yachtjet</a>
        <ul id="nvlst" class="nav-list list">
          <li class="nav-list-item">
            <a class="nav-list-link current" href="#first">About</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#second">Yachts</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#thirth">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="social-media-list list">
        <li class="social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              width="20"
              height="20"
              aria-label="Instagram link"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              height="20"
              width="20"
              aria-label="YouTube link"
            >
              <use href="./img/icons.svg#icon-you_tube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              height="20"
              width="20"
              aria-label="Facebook link"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="head-burger-button" id="openModalBtn" type="button">
        <svg
          class="head-burger-button-icon"
          height="28"
          width="28"
          aria-label="Open navigation bar"
        >
          <use href="./img/icons.svg#icon-burger_menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- Це для прикладу були взяті зображення, я їх видалю потім -->
<img id="first" src="../img/desktop_1280/advantages/advantages.jpg" alt="" />
<img id="second" src="../img/desktop_1440/hero/hero_image@2x.jpg" alt="" />
<img id="thirth" src="../img/desktop_1440/advantages/advantages.jpg" alt="" />
