<header class="head-section">
  <div class="head-pin container">
    <nav class="head-nav-box">
      <a href="../index.html" class="nav-logo">yachtjet</a>
      <ul class="nav-list-list list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="">About</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="social-media">
      <ul class="social-media-list list">
        <li class="social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-media-icon-box"
            target="_blank"
          >
            <svg class="social-media-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-media-icon-box"
            target="_blank"
          >
            <svg class="social-media-icon" height="24" width="24">
              <use href="../img/icons.svg#icon-you_tube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-media-icon-box"
            target="_blank"
          >
            <svg class="social-media-icon" height="24" width="24">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="head-burger-button">
      <svg class="head-burger-button-icon" height="28" width="28">
        <use href="../img/icons.svg#icon-burger_menu"></use>
      </svg>
    </button>
  </div>
</header>
