<header class="head-section">
  <div class="head-pin container">
    <div class="header-wrapper">
      <nav class="head-nav-box">
        <a href="./index.html" class="nav-logo">yachtjet</a>
        <ul id="nvlst" class="nav-list list">
          <li class="nav-list-item">
            <a
              class="nav-list-link nav-list-link-current current"
              href="#about-us"
              >About</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#our-yachts">Yachts</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="social-media-list list">
        <li class="social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              width="20"
              height="20"
              aria-label="Instagram link"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              height="20"
              width="20"
              aria-label="YouTube link"
            >
              <use href="./img/icons.svg#icon-you_tube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-media-icon-link"
            target="_blank"
          >
            <svg
              class="social-media-icon"
              height="20"
              width="20"
              aria-label="Facebook link"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="head-burger-button" id="openModalBtn" type="button">
        <svg
          class="head-burger-button-icon"
          height="28"
          width="28"
          aria-label="Open navigation bar"
        >
          <use href="./img/icons.svg#icon-burger_menu"></use>
        </svg>
      </button>
      <button
        type="button"
        class="mobile-menu-modal-close-button hidden-button"
        id="closeModalBtn"
      >
        <svg
          class="mobile-menu-modal-close-button-icon"
          width="16"
          height="16"
          aria-label="close button"
        >
          <use href="./img/icons.svg#icon-close_btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
