
    <div class="modal-box-for-mobile-menu is-open">
        <div class="logo-and-close-button-container">
            <a class="logo" href="">yachtjet</a>
            <button class="close-button" href="">
                <svg class="close-button-icon">
                    <use href=""></use>
                </svg>
            </button>
        </div>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-nav-list list">
                <li class="mobile-menu-nav-item"><a href="" class="mobile-menu-nav-link">About</a></li>
                <li class="mobile-menu-nav-item"><a href="" class="mobile-menu-nav-link">Yachts</a></li>
                <li class="mobile-menu-nav-item"><a href="" class="mobile-menu-nav-link">Reviews</a></li>
            </ul>
        </nav>
        <ul class="mobile-menu-socials-list list">
            <li class="mobile-menu-socials-item">
                <a href="" class="mobile-menu-socials-link">

                </a>
            </li>
            <li class="mobile-menu-socials-item">
                <a href="" class="mobile-menu-socials-link">

                </a>
            </li>
            <li class="mobile-menu-socials-item">
                <a href="" class="mobile-menu-socials-link">

                </a>
            </li>
        </ul>
    </div>

