<div class="modal-box-for-mobile-menu" id="myModal">
  <div class="container modal-container">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list list">
        <li class="mobile-menu-nav-item">
          <a
            href="#about-us"
            class="mobile-menu-nav-link current"
            id="nav-link-1"
            >About</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#our-yachts" class="mobile-menu-nav-link" id="nav-link-2"
            >Yachts</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#reviews" class="mobile-menu-nav-link" id="nav-link-3"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <ul class="mobile-menu-socials-list list">
      <li class="mobile-menu-socials-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobile-menu-socials-link"
          target="_blank"
        >
          <svg
            class="socials-icon"
            width="20"
            height="20"
            aria-label="instagram button"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-socials-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-menu-socials-link"
          target="_blank"
        >
          <svg
            class="socials-icon"
            width="20"
            height="20"
            aria-label="youtube button"
          >
            <use href="./img/icons.svg#icon-you_tube"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-socials-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-menu-socials-link"
          target="_blank"
        >
          <svg
            class="socials-icon"
            width="20"
            height="20"
            aria-label="facebook icon"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
