<section class="section" id="our-yachts">
  <div class="container our-yachts">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yacht-cards-container list">
      <li class="yacht-card">
        <picture>
          <source
            srcset="
              ./img/desktop_1440/our_yachts/card_yaht1.jpg    1x,
              ./img/desktop_1440/our_yachts/card_yaht1@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="360"
            height="268"
          />
          <source
            srcset="
              ./img/desktop_1280/our_yachts/card_yaht1.jpg    1x,
              ./img/desktop_1280/our_yachts/card_yaht1@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="345"
            height="268"
          />
          <source
            srcset="
              ./img/tablet/our_yacht/card_yaht1.jpg    1x,
              ./img/tablet/our_yacht/card_yaht1@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="304"
            height="268"
          />
          <source
            srcset="
              ./img/mobille/our_yachts/card_yaht1.jpg    1x,
              ./img/mobille/our_yachts/card_yaht1@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="302"
            height="240"
          />
          <img
            class="yacht-card-image"
            src="./img/mobille/our_yachts/card_yaht1.jpg"
            alt="Arrow Yacht"
          />
        </picture>
        <div class="yacht-card-content">
          <div class="yacht-card-title">
            <h3 class="yacht-card-name">Arrow</h3>
            <p class="yacht-card-yacht-category">Luxury yahts</p>
          </div>
          <div class="yacht-characteristics first-card">
            <ul class="yacht-characteristics-category list">
              <li class="yacht-characteristics-category-item">Lenght</li>
              <li class="yacht-characteristics-category-item">Builder</li>
              <li class="yacht-characteristics-category-item">Built</li>
              <li class="yacht-characteristics-category-item">Guests</li>
              <li class="yacht-characteristics-category-item">Price</li>
            </ul>
            <ul class="yacht-characteristics-value list">
              <li class="yacht-characteristics-value-item">48m(155ft)</li>
              <li class="yacht-characteristics-value-item">Admiral</li>
              <li class="yacht-characteristics-value-item">2021</li>
              <li class="yacht-characteristics-value-item">11 in 5 cabins</li>
              <li class="yacht-characteristics-value-item">€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yacht-card bennetti-yacht">
        <picture>
          <source
            srcset="
              ./img/desktop_1440/our_yachts/card_yaht2.jpg    1x,
              ./img/desktop_1440/our_yachts/card_yaht2@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="360"
            height="268"
          />
          <source
            srcset="
              ./img/desktop_1280/our_yachts/card_yaht2.jpg    1x,
              ./img/desktop_1280/our_yachts/card_yaht2@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="345"
            height="268"
          />
          <source
            srcset="
              ./img/tablet/our_yacht/card_yaht2.jpg    1x,
              ./img/tablet/our_yacht/card_yaht2@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="304"
            height="268"
          />
          <source
            srcset="
              ./img/mobille/our_yachts/card_yaht2.jpg    1x,
              ./img/mobille/our_yachts/card_yaht2@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="302"
            height="240"
          />
          <img
            class="yacht-card-image"
            src="./img/mobille/our_yachts/card_yaht2.jpg"
            alt="Benetti Oasis Yacht"
          />
        </picture>
        <div class="yacht-card-content">
          <div class="yacht-card-title">
            <h3 class="yacht-card-name">Benetti Oasis 40M BO122</h3>
            <p class="yacht-card-yacht-category">Luxury yahts</p>
          </div>
          <div class="yacht-characteristics">
            <ul class="yacht-characteristics-category list">
              <li class="yacht-characteristics-category-item">Lenght</li>
              <li class="yacht-characteristics-category-item">Shipyard</li>
              <li class="yacht-characteristics-category-item">Built</li>
              <li class="yacht-characteristics-category-item">Guests</li>
              <li class="yacht-characteristics-category-item">Price</li>
            </ul>
            <ul class="yacht-characteristics-value list">
              <li class="yacht-characteristics-value-item">41m (133ft)</li>
              <li class="yacht-characteristics-value-item">Benetti</li>
              <li class="yacht-characteristics-value-item">2025</li>
              <li class="yacht-characteristics-value-item">10 in 5 cabins</li>
              <li class="yacht-characteristics-value-item">€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yacht-card belle-anna-yacht">
        <picture>
          <source
            srcset="
              ./img/desktop_1440/our_yachts/card_yaht3.jpg    1x,
              ./img/desktop_1440/our_yachts/card_yaht3@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="360"
            height="268"
          />
          <source
            srcset="
              ./img/desktop_1280/our_yachts/card_yaht3.jpg    1x,
              ./img/desktop_1280/our_yachts/card_yaht3@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="345"
            height="268"
          />
          <source
            srcset="
              ./img/tablet/our_yacht/card_yaht3.jpg    1x,
              ./img/tablet/our_yacht/card_yaht3@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="304"
            height="268"
          />
          <source
            srcset="
              ./img/mobille/our_yachts/card_yaht3.jpg   1x,
              /img/mobille/our_yachts/card_yaht3@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="302"
            height="240"
          />
          <img
            class="yacht-card-image"
            src="./img/mobille/our_yachts/card_yaht3.jpg"
            alt="Belle Anna Yacht"
          />
        </picture>
        <div class="yacht-card-content">
          <div class="yacht-card-title">
            <h3 class="yacht-card-name">Belle Anna</h3>
            <p class="yacht-card-yacht-category">Luxury yahts</p>
          </div>
          <div class="yacht-characteristics">
            <ul class="yacht-characteristics-category list">
              <li class="yacht-characteristics-category-item">Lenght</li>
              <li class="yacht-characteristics-category-item">Shipyard</li>
              <li class="yacht-characteristics-category-item">Built</li>
              <li class="yacht-characteristics-category-item">Guests</li>
              <li class="yacht-characteristics-category-item">Price</li>
            </ul>
            <ul class="yacht-characteristics-value list">
              <li class="yacht-characteristics-value-item">50m(155ft)</li>
              <li class="yacht-characteristics-value-item">ISA</li>
              <li class="yacht-characteristics-value-item">2012</li>
              <li class="yacht-characteristics-value-item">12 in 6 cabins</li>
              <li class="yacht-characteristics-value-item">€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="rent-yacht-link link" href="#rent">Yacht rental</a>
  </div>
</section>
