<section class="rent-section section"> 
    <div class="container ">
    <div class="rent-content ">
        <h2 class="rent-titel">Rent a yacht now</h2>
        <form class="rent-form">

            <div class="rent-form-box">
            <label class="rent-label" for=""></label>
            <input class="rent-input style" type="text">
            </div>

            <div class="rent-form-box">
                <label  class="rent-label" for=""></label>
                <input class="rent-input style" type="text">
            </div>

            <div class="rent-form-box">
                <label class="rent-label" for=""></label>
                <input class="rent-input style" type="text">
            </div>

            <div class="">
                <label class="rent-label" for=""></label>
                <textarea class="rent-textarea style" name="" id="" placeholder="Comment" cols="30" rows="10"></textarea>
            </div>

         <button class="rent-sbm-btn" type="submit">Send</button>
        </form>
    </div>
    <div class="rent-img ">
        <!-- <picture>
            <source
            srcset="./images/meditation-dsk.jpg 1x,
                    ./images/meditation-dsk@2x.jpg 2x"
                    media="(min-width:1158px)"/>                 
            <source
            srcset="./images/meditation-tab.jpg 1x,
            ./images/meditation-tab@2x.jpg 2x"
            media="(min-width:768px)"/>
            <source 
            srcset="./images/meditation-mb.jpg 1x,
                    ./images/meditation-mb@2x.jpg 2x" 
            media="(max-width:767px)"/> -->
            <img src="./img/mobille/rent_a_yacht/image_rent.jpg" 
            alt="Meditation App"/>
    </div>
</div>
</section>