<section class="rent-section section" id="rent"> 
    <div class="container rent-container">
    <div class="rent-content">
        <h2 class="rent-title">Rent a yacht now</h2>
        <form class="rent-form">
            <div class="rent-form-box">
                <label for="user-name"></label>
            <input class="rent-input input-style" type="text" id="user-name" name="user-name" placeholder="Full Name"  pattern="[a-zA-Za-яА-ЯіІїЇєЄґҐйЙʼ]+" title="Alex" required>
            </div>

            <div class="rent-form-box">
                <label for="user-email"></label>
                <input class="rent-input input-style" type="email" id="user-email" name="user-email" placeholder="Email" required>
            </div>

            <div class="rent-form-box">
                <label for="user-number"></label>
                <input class="rent-input input-style" type="tel" id="user-number" name="user-number" placeholder="Phone number"  pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" title="000 000 00 00" required>
            </div>

            <div class="rent-form-box-txtr">
                <label for="user-comment" ></label>
                <textarea class="rent-textarea input-style" name="user-comment" id="user-comment" placeholder="Comment"></textarea>
                
            </div>

         <button class="rent-sbm-btn" type="submit">Send</button>
        </form>
    </div>
    <div>
        <picture >
            <source
            srcset="./img/desktop_1440/rent_a_yacht/image_rent.jpg 1x,
            ./img/desktop_1440/rent_a_yacht/image_rent@2x.jpg 2x" 
                    media="(min-width:1440px)"
                     width="768" 
                     height="534"/>   

            <source
            srcset="./img/desktop_1280/rent_a_yacht/image_rent.jpg 1x,
            ./img/desktop_1280/rent_a_yacht/image_rent@2x.jpg  2x"
            media="(min-width:1280px)"
             width="658" 
             height="534"/>

            <source
            srcset="./img/tablet/rent_a_yacht/image_rent.jpg 1x,
            ./img/tablet/rent_a_yacht/image_rent@2x.jpg  2x"
            media="(min-width:768px)" 
            width="768" 
            height="534"/>


            <source 
            srcset="./img/mobille/rent_a_yacht/image_rent.jpg 1x,
            ./img/mobille/rent_a_yacht/image_rent@2x.jpg  2x" 
            media="(max-width:767px)"
            width="335" 
            height="412"/>
            <img class="rent-img" src="./img/desktop_1440/rent_a_yacht/image_rent.jpg" 
            alt="Yacht"/>
        </picture>
    </div>
</div>
</section>