<section class="reviews-section section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-desc">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="reviews-list list">
      <li class="reviews-list-item card-one">
        <div class="card">
          <img
            class="portfolio-list-avatar"
            srcset="./img/review/john@2x.png 2x"
            src="./img/review/john.png"
            alt="John Wax"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-author">John Wax</h3>
          <p class="reviews-list-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="reviews-list-item card-two">
        <div class="card">
          <img
            class="portfolio-list-avatar"
            srcset="./img/review/victoria@2x.png 2x"
            src="./img/review/victoria.png"
            alt="Victoria Romashenko"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-author">Victoria Romashenko</h3>
          <p class="reviews-list-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="reviews-list-item card-three">
        <div class="card">
          <img
            class="portfolio-list-avatar"
            srcset="./img/review/ihor@2x.png 2x"
            src="./img/review/ihor.png"
            alt="Ihor Trachuk"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-author">Ihor Trachuk</h3>
          <p class="reviews-list-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
