/* ===== MOBILE ===== */

.advantages-list-wrapper {
  max-width: 335px;
  background-color: #1b414b;
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 80px 20px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.advantages-list-item {
  position: relative;
  width: calc((100% - 0) / 1);
}

.advantages-list-first-item-description {
  width: 238px;
}

.advantages-list-item-count {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 38px;
}

.advantages-list-item-description {
  color: rgba(251, 251, 251, 0.8);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.advantages-list-item-description::before {
  content: '';
  position: absolute;
  top: 46px;
  display: block;
  width: 295px;
  height: 2px;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
}

.advantages-imagine {
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 374px) {
  .advantages-list-item-description::before {
    width: 240px;
  }
}

@media screen and (max-width: 1279px) {
  .advantages-list-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
  .advantages-list-wrapper {
    min-width: 704px;
    margin-bottom: 32px;
    padding: 90px 32px;
  }

  .advantages-list {
    row-gap: 44px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .advantages-list-item {
    position: relative;
    width: calc((100% - 32px) / 2);
  }

  .advantages-list-first-item-description {
    width: 230px;
  }

  .advantages-list-third-item-description {
    width: 275px;
  }

  .advantages-list-fourth-item-description {
    width: 272px;
  }

  .advantages-list-item-count {
    font-size: 32px;
  }

  .advantages-list-item-description {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-list-item-description::before {
    width: 304px;
  }
}

/* ===== DESKTOP 1280 ===== */

@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    column-gap: 32px;
  }

  .advantages-list-wrapper {
    min-width: 716px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages-list-item-description::before {
    width: 280px;
  }
}

/* ===== DESKTOP 1440 ===== */

@media screen and (min-width: 1440px) {
  .advantages-list-wrapper {
    min-width: 768px;
    padding-right: 76px;
  }

  .advantages-list-item-description::before {
    width: 318px;
  }
}
