body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #0e1823;
  color: #fbfbfb;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen (min-width: 768) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
