html {
  scroll-behavior: smooth;
}

.main-footer {
  padding-bottom: 0;
}

.contain {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-content-wrapper {
  max-width: 335px;
  border-radius: 24px 24px 0px 0px;
  background-color: #1b414b;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.nav-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 40px;
}

.navigator {
  display: flex;
  justify-content: center;
  gap: 37px;
}

.logo-foot {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.footer-nav {
  display: flex;
  gap: 4px;
}

.nav-link-footer {
  min-width: 66px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  transition: background-color 250ms linear, color 250ms linear;
}

.nav-link-footer:active {
  background-color: #FBFBFB;
  color: #1b414b;
}

.foot-social-list {

  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.foot-social-list-item {
  width: 24px;
  height: 24px;
}

.foot-social-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fbfbfb;
  transition: fill 250ms linear;
}

.foot-social-links:active {
  fill: rgba(251, 251, 251, 0.8);
}

.text-footer {
  max-width: 279px;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 82px;
}

.footer-links-list {
  max-width: 248px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .navigator {
    flex-direction: column;
    gap: 40px;
  }

  .logo-foot {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-nav {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {

  .footer-content-wrapper {
    max-width: 736px;
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .nav-social-wrapper {
    justify-content: center;
    flex-direction: row;
    gap: 91px;
    margin-bottom: 96px;
  }

  .navigator {
    gap: 106px;
  }

  .logo-foot {
    font-size: 20px;
  }

  .footer-nav {
    display: flex;
    gap: 4px;
  }

  .nav-link-footer {
    min-width: 91px;
  }

  .text-footer {
    font-size: 32px;
    margin-bottom: 99px;
    max-width: 640px;
  }

  .footer-links-list {
    max-width: none;
    justify-content: center;
    gap: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-links {
    color: rgba(251, 251, 251, 0.4);
    font-size: 14px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {

  .footer-content-wrapper {
    max-width: 1230px;
    padding-right: 75px;
    padding-left: 75px;
  }

  .nav-social-wrapper {
    gap: 311px;
  }

  .navigator {
    gap: 326px;
  }

  .text-footer {
    max-width: 693px;
  }

  .nav-link-footer:hover:not(.nav-link-footer.current),
  .nav-link-footer:focus:not(.nav-link-footer.current) {
    background-color: rgba(251, 251, 251, 0.7);
    color: rgba(23, 57, 66, 0.89);
  }

  .nav-link-footer.current:hover,
  .nav-link-footer.current:focus {
    background-color: #FBFBFB;
    color: rgb(0, 0, 0);
  }

  .foot-social-links:hover,
  .foot-social-links:focus {
    fill: rgba(251, 251, 251, 0.8);
  }
}

@media screen and (min-width: 1440px) {
  .footer-content-wrapper {
    max-width: 1390px;
  }

  .nav-social-wrapper {
    gap: 388px;

  }

  .navigator {
    gap: 409px;
  }

  .text-footer {
    max-width: 699px;
  }
}