.container.our-yachts {
    overflow: hidden;
}

.our-yachts-title {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 319px;
    margin: 0 auto 40px;
}

.yacht-cards-container {
    margin: 0 auto 40px;
    display: flex;
    gap: 32px;
}

.yacht-card {
    background-color: #FBFBFB;
    border-radius: 24px;
    padding: 16px 16px 32px;
    width: 334px;
}

.yacht-card-image {
    margin-bottom: 33.5px;
    border-radius: 24px;
}

.yacht-card-content {
    padding: 0 16px;
}

.yacht-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.yacht-card-name {
    width: 140px;
    color: #1B414B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yacht-card-yacht-category {
    font-size: 12px;
    font-weight: 400;
    color: rgba(4, 3, 6, 0.4);
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.decorative-line {
    width: 272px;
    border: 0.5px solid rgba(4, 3, 6, 0.10);
    margin-bottom: 16px;
}

.yacht-characteristics {
    display: flex;
    gap: 114px;
}

.yacht-characteristics-category-item {
    color: rgba(4, 3, 6, 0.4);
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.yacht-characteristics-value-item {
    color: rgba(4, 3, 6, 1);
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.yacht-characteristics-category-item:not(:last-child),
.yacht-characteristics-value-item:not(:last-child) {
    margin-bottom: 6px;
}

.rent-yacht-link {
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    padding: 14px 32px;
    margin: 0 auto;
    width: 141px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    font-size: 14px;
}

.rent-yacht-link:active {
    background-color: #FBFBFB;
    border-color: #FBFBFB;
    color: #1B414B;

}

@media screen and (min-width: 768px) {
    .our-yachts-title {
        font-size: 48px;
        max-width: 645px;
        margin-bottom: 75px;
    }

    .yacht-cards-container {
        margin-bottom: 50px;
    }

    .yacht-card {
        width: 336px;
    }

    .yacht-card-image {
        margin-bottom: 34px;
    }

    .yacht-card-name {
        font-size: 16px;
        line-height: 1.2;
        width: 147px;
    }

    .yacht-card-yacht-category {
        font-size: 13px;
        line-height: 1.18;
    }

    .yacht-characteristics {
        gap: 116px;
    }

    .rent-yacht-link {
        padding: 16px 40px;
        font-size: 18px;
        width: 179px;
    }

}

@media screen and (min-width: 1280px) {
    .our-yachts-title {
        width: 714px;
    }

    .yacht-cards-container {
        gap: 25px;
    }

    .yacht-card {
        width: 377px;
    }

    .yacht-card-image {
        margin-bottom: 32px;
    }

    .yacht-card-name {
        width: 177px;
    }

    .decorative-line {
        width: 313px;
    }

    .yacht-characteristics {
        gap: 145px;
    }

    .rent-yacht-link:hover {
        background-color: #FBFBFB;
        border-color: #FBFBFB;
        color: #1B414B;
    }
}

@media screen and (min-width: 1440px) {
    .yacht-cards-container {
        gap: 32px;
        width: 1240px;

    }

    .yacht-card {
        width: 392px;
    }

    .yacht-card-image {
        margin-bottom: 34px;
    }

    .decorative-line {
        width: 328px;
    }
}