
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}


/* ===============MOBILE STYLES================ */
.rent-container{
    display: table;
}


.rent-title{
font-size: 28px;
font-weight: 500;
line-height: 1; /* 100% */
letter-spacing: -0.02em;
margin-bottom: 40px;
}

.rent-content{
    margin-bottom: 80px;
    max-width: 335px;
}

.rent-form{
    margin-top: 40px;
}

.rent-form-box{
    margin-bottom: 18px;
}


.style{
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    background-color: transparent;
    outline: 0px solid transparent;
    color: rgba(251, 251, 251, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16; 
    transition: border 250ms linear,
    color 250ms linear;
    }

.style:active,
.style:focus{
border: 1px solid rgba(251, 251, 251, 0.50);
color: rgba(251, 251, 251, 0.50);
}

.rent-input{
    width: 100%;
    height: 42px;
    padding-left: 18px;
    align-items: center;
}
.rent-textarea{
    width: 100%;
    height: 108px;
    resize: none;
    padding: 14px 18px;
}

.rent-form-box-txtr{
    margin-bottom: 40px;
}

.rent-sbm-btn{
    display: block;
    min-width: 122px;
    height: 46px;
    border-radius: 15px;
    background: #1B414B;
    border: none;
    color: #FBFBFB;
    font-size: 14px;
    line-height: 1.3px;
    letter-spacing: -0.02em;
    transition: background-color 250ms linear;
}

.rent-sbm-btn:active,
.rent-sbm-btn:hover,
.rent-sbm-btn:focus{
    background-color: #FBFBFB;
    color: #1B414B;
}

.rent-img{
    border-radius: 24px;
    overflow: hidden;
}
/* ===============/MOBILE STYLES================*/


/* ===============TABLET STYLES================ */

@media screen and (min-width: 768px){
     .rent-content{
      max-width: 472px;
      margin-left: auto;
      margin-right: auto;  
     }

     .rent-title{
        font-size: 48px;
        }

    .rent-form{
        margin-top: 50px;
    }

    .style{
        font-size: 14px;
        
     }

    .rent-input{
        width: 472px;
        height: 54px;
    }

    .rent-sbm-btn{
       width: 194px;
       height: 56px;
       font-size: 18px;
       line-height: 2; 
    }
}

/* ===============/TABLET STYLES================ */

/* ===============DESCKTOP 1 STYLES================ */
@media screen and (min-width: 1280px){
.rent-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    align-items: center;
    gap: 50px;

}

.rent-content{
    max-width: 472px;
    margin-left: 0;
    margin-right:0;
    margin-bottom: 0;  
   }


}

/* ===============/DESCKTOP 1  STYLES================ */

/* ===============DESCKTOP 2 STYLES================ */

@media screen and (min-width: 1440px){

}
/* ===============/DESCKTOP 2 STYLES================ */