.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-title {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  color: #fbfbfb;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}

.reviews-desc {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  color: #fbfbfb;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  opacity: 0.4;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.reviews-list-item {
  padding: 32px 16px;
  border-radius: 24px;
  background: #fbfbfb;
  border: none;
  width: 335px;
  height: 282px;
}

.portfolio-list-avatar {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-list-author {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #040306;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  letter-spacing: 0.02em;
}

.reviews-list-text {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}

/* ================ Mobile ================= */
@media screen and (max-width: 767px) {
  .card-one {
    display: none;
  }
  .card-two {
    display: none;
  }
}

/* ================ Tablete ================= */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .card-two {
    display: none;
  }

  .reviews-title {
    width: 704px;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
  }

  .reviews-desc {
    width: 571px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 75px;
  }

  .reviews-list-item {
    width: 336px;
  }
}

/* ================ Desktop ================= */
@media screen and (min-width: 1280px) {
  .reviews-list {
    gap: 26px;
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .reviews-title {
    width: 854px;
  }

  .reviews-desc {
    width: 571px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 75px;
  }

  .card-two {
    display: initial;
  }

  .reviews-list-item {
    padding: 32px 28px;
    width: 376px;
  }
}

/* ================ Desktop ================= */
@media screen and (min-width: 1440px) {
  .reviews-list-item {
    padding: 32px 36px;
    width: 392px;
  }

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
